extends layout

block content

    #mainDiv
        h2 What is Web Wranglers?
        p
            | Web Wranglers of Texas is the first 
            | Texas Software / Web Development Co-op in Texas.
        h2 Why a Software Cooperative?
        p   
            | Software Cooperatives are fast becoming the most
            | popular way for developers and web designers to 
            | work together.  A group of freelance developers can cut 
            | down the cost of marketing and business administration costs
            | while increasing opportunities for competitive pay when working
            | together on bigger projects.
        h2 Why would my business consider working with a cooperative?
        p   
            | Customers and clients will benefit from working with a 
            | software cooperative because they will be more competively 
            | priced than private companies due to a much lower overhead
            | needed to be priced in for their development projects.
            | A cooperative can be more stable than working with just
            | one developer.